@ini_set('session.cookie_httponly','On');
@ini_set('session.cookie_secure','On');
@ini_set('session.use_only_cookies','On');

// ** Relocating mu-plugins ** //
define('WPMU_PLUGIN_DIR', '/var/www/as{{AS_NUM}}/mu-plugins');
define('WPMU_PLUGIN_URL', 'https://as{{AS_URL}}/mu-plugins');

define('WP_DEBUG', false);
//define('DISALLOW_FILE_MODS', true);
define('WP_AUTO_UPDATE_CORE', false);

/* Only SSL connection is allowed */
define('FORCE_SSL_ADMIN', true);
define('FORCE_SSL_LOGIN', true);

/** Customer Included wp-extra-config.php */
if ( file_exists('/var/www/as{{AS_NUM}}/wp-content/wp-extra-config.php') ) {
        require_once(ABSPATH . 'wp-content/wp-extra-config.php');
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
